<ion-view title="Home" id="page1">
    <ion-content padding="true" class="has-header">
        <form id="home-form1" class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
        </form>
        <ion-list id="home-list1">
            <ion-item id="home-list-item4">08/2016
                <span class="item-note">R$100,00</span>
            </ion-item>
            <ion-item id="home-list-item5">07/2016
                <span class="item-note">R$348,20</span>
            </ion-item>
            <ion-item id="home-list-item11">05/2016
                <span class="item-note">R$300,00</span>
            </ion-item>
            <ion-item id="home-list-item12">04/2016
                <span class="item-note">R$330,00</span>
            </ion-item>
            <ion-item id="home-list-item13">03/2016
                <span class="item-note">R$290,00</span>
            </ion-item>
            <ion-item id="home-list-item14">02/2016
                <span class="item-note">R$280,00</span>
            </ion-item>
            <ion-item id="home-list-item15">01/2016
                <span class="item-note">R$280,00</span>
            </ion-item>
            <ion-list id="home-list3">
                <ion-item id="home-list-item18">Item 2</ion-item>
                <ion-item id="home-list-item19">Item 3</ion-item>
            </ion-list>
        </ion-list>
    </ion-content>
</ion-view>