<ion-view title="Home" id="page1">
    <ion-content padding="true" class="has-header">
        <ion-icon name="heart"></ion-icon>

        <div id="divCentral">


            <div id="home-markdown3" class="valorFaturaAtual">
                <h4 class="titulo">Valor da fatura</h4>
                <p class="valores">R$ {{valor}}</p>
            </div>

            <div class="valorKWAtual">
                <h4 class="titulo">Consumo atual</h4>
                <p class="valores"> {{energia}} KW/h </p>
            </div>

        </div>
    </ion-content>
</ion-view>
