<ion-view title="Home" id="page1">
    <ion-content padding="true" class="has-header">
        <ion-icon name="heart"></ion-icon>
        <div id="home-markdown1" style="color:#008AFF;font-size:50px;text-align:center;">
            <p>Consumo Atual</p>
        </div>
        <div id="home-markdown3" style="color:#000000;font-size:40px;text-align:center;">
            <p>R$ {{valor}}</p>
        </div>
        <a ui-sref="menu.detalhes" id="home-button1" style="font-style:italic;color:#FED329;" class="button button-light button-large button-clear icon-right ion-ios-plus-empty">{{energia}} KW/h</a>
    </ion-content>
</ion-view>