<ion-view title="Home" id="page1">
    <ion-content padding="true" class="has-header">
        <ion-icon name="heart"></ion-icon>

        <div id="divCentral">

            <div>
                <h4>Valor da fatura</h4>
            </div>
            <div id="home-markdown3">
                <p class="valores">R$ {{valor}}</p>
            </div>

            <div>
                <h4>Consumo atual</h4>
            </div>
            <div class="valores">
                <p> {{energia}} KW/h </p>
            </div>

        </div>
    </ion-content>
</ion-view>
