<ion-view title="Pontos" id="page2">
    <ion-content padding="true" class="has-header">
        <ion-list id="cart-list4">
            <ion-item class="item-icon-left" id="cart-list-item14">
                <i class="icon ion-ionic"></i>{{ponto}}</ion-item>
            <ion-item class="item-icon-left" id="cart-list-item15">
                <i class="icon ion-ionic"></i>Item</ion-item>
            <ion-item class="item-icon-left" id="cart-list-item16">
                <i class="icon ion-ionic"></i>Item</ion-item>
            <ion-item class="item-icon-left" id="cart-list-item17">
                <i class="icon ion-ionic"></i>Item</ion-item>
            <ion-item class="item-icon-left" id="cart-list-item18">
                <i class="icon ion-ionic"></i>Item</ion-item>
        </ion-list>
    </ion-content>
</ion-view>