/* Empty. Add your own CSS if you like */
#divCentral{
	text-align:center;
       margin-top:150px; /* ou seja ele pega 50% da altura tela e sobe metade do valor da altura no caso 100 */
}

.valorFatura{
       font-size:20px;
       text-align:center;
}

.valores{
       color:#000000;
       font-size:50px;
       text-align:center;
}
