/* Empty. Add your own CSS if you like */
#divCentral{
	text-align:center;
       margin-top:75px; /* ou seja ele pega 50% da altura tela e sobe metade do valor da altura no caso 100 */
}

.valorFaturaAtual{
       font-size:20px;
       text-align:center;
       margin-top:40px;
}

.valorKWAtual{
       font-size:20px;
       text-align:center;
       margin-top:125px;
}

.valores{
       font-size:40px;
}

.titulo{
       font-size:15px;
}

img{
       opacity: 0.5;
}
